.sort-arrow {
  cursor: pointer;
  margin-right: 5px;
  display: inline-block;
  width: 20px;
  text-align: center;
}

.filter-container {
  max-width: 1200px;
  margin: 0 auto;
}

.filter-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.filter-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  margin: 0 auto 20px auto;

  .filter-label {
    font-weight: bold;
    display: flex;
    align-items: center;

    input {
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-left: 5px;
    }
  }
}

.filter-list {
  list-style: none;
  padding: 0;
}

.filter-item {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-count {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  .pagination-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      background-color: #0056b3;
    }
  }
}

.navbar {
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;

    li {
      margin: 0 15px;

      a {
        color: black;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
